[submodule "dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-brewfile"]
	path = meta/dotbot-brewfile
	url = https://github.com/sobolevn/dotbot-brewfile.git
	ignore = dirty
[submodule "antigen"]
	path = shells/zsh/antigen
	url = https://github.com/zsh-users/antigen.git
	ignore = dirty
[submodule "configs/nano/syntax"]
	path = configs/nano/syntax
	url = https://github.com/scopatz/nanorc.git
